nanokontrol-gauges-example.json
[{"id":"4f12fdd0.5673f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc745bb1.669968","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0979a87.f4ef38","type":"subflow","name":"NanoKontrol with debounce","info":"","category":"","in":[],"out":[{"x":740,"y":160,"wires":[{"id":"acbe6eab.5d8fc","port":0}]}],"icon":"node-red/trigger.png"},{"id":"5f4a10ed.11ada","type":"mqtt-broker","z":"","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a3184fc.8049ec","type":"telegram bot","z":"","botname":"","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"d1376f9d.38428","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"22c73ce7.2bdcf4","type":"arduino-board","z":"","device":"COM1"},{"id":"5d254f86.49fdd","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3707bb99.ac4454","type":"ui_group","z":"","name":"KORG NanoKontrol","tab":"5d254f86.49fdd","disp":true,"width":"6","collapse":false},{"id":"cb296f10.1ea7a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8e6abf4.7fd208","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"13c35f8e.a1b5e","type":"ui_group","name":"Group 1","tab":"c8e6abf4.7fd208","order":1,"disp":true,"width":6},{"id":"c76ab07c.a22d4","type":"midi in","z":"e0979a87.f4ef38","name":"NK","midiport":"0","x":370,"y":160,"wires":[["28e322a1.511f6e"]]},{"id":"28e322a1.511f6e","type":"debounce","z":"e0979a87.f4ef38","time":"5","name":"","x":510,"y":160,"wires":[["acbe6eab.5d8fc"]]},{"id":"acbe6eab.5d8fc","type":"function","z":"e0979a87.f4ef38","name":"","func":"var [input, value] = msg.payload;\n\nvar inputNames = {\n    1: 'CHANNEL 1',\n    47: 'BACK',\n    48: 'FORWARD'\n};\n\nmsg.payload = {\n    input: input,\n    value: value\n};\n\nif (input in inputNames) {\n    msg.payload.inputName = inputNames[input];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[[]]},{"id":"896afbec.0f5a18","type":"subflow:e0979a87.f4ef38","z":"4f12fdd0.5673f4","name":"","x":160,"y":340,"wires":[["2d5674d4.a3af0c"]]},{"id":"bb9fc7ac.944348","type":"debug","z":"4f12fdd0.5673f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":280,"wires":[]},{"id":"c30a55f1.e210e8","type":"ui_gauge","z":"4f12fdd0.5673f4","name":"","group":"3707bb99.ac4454","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{payload.value}}","min":0,"max":"127","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":320,"wires":[]},{"id":"2d5674d4.a3af0c","type":"rbe","z":"4f12fdd0.5673f4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":350,"y":340,"wires":[["6a75c93c.b74ba8","bb9fc7ac.944348"]]},{"id":"4946e435.518c3c","type":"ui_gauge","z":"4f12fdd0.5673f4","name":"","group":"3707bb99.ac4454","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{payload.value}}","min":0,"max":"127","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":360,"wires":[]},{"id":"6a75c93c.b74ba8","type":"switch","z":"4f12fdd0.5673f4","name":"","property":"payload.input","propertyType":"msg","rules":[{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":400,"wires":[["c30a55f1.e210e8"],["4946e435.518c3c"],["80cb5989.07e438"],["a9bf95ff.84d608"]]},{"id":"5adac369.4e023c","type":"ui_switch","z":"4f12fdd0.5673f4","name":"","label":"switch","group":"3707bb99.ac4454","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1010,"y":460,"wires":[[]]},{"id":"80cb5989.07e438","type":"function","z":"4f12fdd0.5673f4","name":"","func":"msg.payload = msg.payload.value > 0;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":460,"wires":[["5adac369.4e023c"]]},{"id":"a9bf95ff.84d608","type":"function","z":"4f12fdd0.5673f4","name":"","func":"msg.payload = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":500,"wires":[[]]}]
